<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Jhonatan Laguna</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">

</head>

<body>

	<header>

		<p class="header-titulo"><a href="#">Jhonatan Laguna</a></p>
		
		<nav class="menu">
			<ul>
				<li><a href="#">CONTACT</a></li>
				<li><a href="#">WHAT I USE</a></li>
				<li><a href="#">PORTFOLIO</a></li>
				<li><a href="#">RÉSUMÉ</a></li>
			</ul>
	    </nav>

		<div id="btn-idioma"></div>
	</header>
	
	<section class="main">

		<h1 class="main-titulo">I build websites, software and mobile apps.</h1>

		<article class="main-item">
			<h2 class="item-nombre">I'm a developer.</h2>
			<p class="item-descripcion">I write Java, C# and JavaScript. I design databases and write SQL.</p>
		</article>
		<article class="main-item">
			<h2 class="item-nombre">I'm a developer.</h2>
			<p class="item-descripcion">I write Java, C# and JavaScript. I design databases and write SQL.</p>
		</article>
		<article class="main-item">
			<h2 class="item-nombre">I'm a developer.</h2>
			<p class="item-descripcion">I write Java, C# and JavaScript. I design databases and write SQL.</p>
		</article>
		<article class="main-item">
			<h2 class="item-nombre">I'm a developer.</h2>
			<p class="item-descripcion">I write Java, C# and JavaScript. I design databases and write SQL.</p>
		</article>

	</section>	

	<footer>
		
		<p class="footer-p">Sonora, México.</p>

	</footer>

</body>

</html>