{% extends 'plantilla.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="main">
  <h1 class="main-titulo">This better be good.</h1>
  <section id="contacto">
    <p>
      <svg class="email icon">
        <use xlink:href="#icon-email"></use>
      </svg>
      <a href="/cdn-cgi/l/email-protection#92f1fdfce6f3f1e6fdd2f8fafdfcfee2bcf1fdff">
        contacto@jhonlp.com</a>
    </p>
    <p>
      <svg class="mobile icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mobile"></use>
      </svg> +52 (622) 855-7563
    </p>
  </section>
</div>

{% endblock %}
