{% extends 'plantilla.html' %}

{% block title %} Intro {% endblock %}

{% block content %}
	<section class="main">

		<h1 class="main-titulo">I build websites, software and mobile apps.</h1>
		<div class="main-items">
		{% for post in homes %}
			<article class="main-item">
				<h2 class="item-nombre"> <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-palomita"></use></svg>{{post.titulo}}</h2>
				<p class="item-descripcion">{{post.descripcion}}</p>
			</article>
		{% endfor %}
		
			<article class="main-item">
				<h2 class="item-nombre"> <svg class="icon adv"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-advertencia"></use></svg>I'm a limited sysadmin.</h2>
				<p class="item-descripcion">DevOps: yes. Pager duty: no.</p>
			</article>
			<article class="main-item">
				<h2 class="item-nombre"> <svg class="icon neg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use></svg>I'm not a designer.</h2>
				<p class="item-descripcion">Some people are designers. I am not.</p>
			</article>
		</div>

	</section>

{% endblock %}
