{% extends 'plantilla.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="main">

    <h1 class="main-titulo">Here's some stuff I made.</h1>

    <section>
      <article>
        <h2>JavaScript</h2>
            {% for post in proyectos %}
            {% if post.categoria == 1 %}
            <a href="{{post.url}}" class="item-box" target="_blank">
            <div class="item">
                <h4><span>{{post.titulo}}</span></h4>
                <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
            </div>
            </a>
            {% endif %}
            {% endfor %}
      </article>

      <article>
        <h2>Python</h2>
            {% for post in proyectos %}
            {% if post.categoria == 2 %}
            <a href="{{post.url}}" class="item-box" target="_blank">
            <div class="item">
                <h4><span>{{post.titulo}}</span></h4>
                <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
            </div>
            </a>
            {% endif %}
            {% endfor %}
        </article>

        <article>
          <h2 >PHP</h2>
              {% for post in proyectos %}
              {% if post.categoria == 3 %}
              <a href="{{post.url}}" class="item-box" target="_blank">
              <div class="item">
                  <h4><span>{{post.titulo}}</span></h4>
                  <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
              </div>
              </a>
              {% endif %}
              {% endfor %}
        </article>

          <article>
            <h2> WordPress</h2>
            <p> The sites I build with WordPress use it as a CMS more than a blogging platform. </p>

            {% for post in proyectos %}
            {% if post.categoria == 4 %}
            <a href="{{post.url}}" class="item-box" target="_blank">
            <div class="item">
                <h4><span>{{post.titulo}}</span></h4>
                <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
            </div>
            </a>
            {% endif %}
            {% endfor %}

          </article>

          <article>
            <h2 >Windows Phone</h2>

            {% for post in proyectos %}
            {% if post.categoria == 5 %}
            <a href="{{post.url}}" class="item-box" target="_blank">
            <div class="item">
                <h4><span>{{post.titulo}}</span></h4>
                <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
            </div>
            </a>
            {% endif %}
            {% endfor %}
          </article>

          <article>
            <h2 >Static Sites</h2>
            <p> A backend doesn't always make sense if content changes infrequently. </p>

            {% for post in proyectos %}
            {% if post.categoria == 6 %}
            <a href="{{post.url}}" class="item-box" target="_blank">
            <div class="item">
                <h4><span>{{post.titulo}}</span></h4>
                <h5>{{post.ano}}</h5><span>{{post.descripcion}}</span>
            </div>
            </a>
            {% endif %}
            {% endfor %}


          </article>

    </section>
</div>

{% endblock %}
