{% extends 'plantilla.html' %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="main">
  <section id="resume">
    <h1 class="main-titulo">Résumé</h1>
    <h2><strong>2011 - present: </strong> Freelance Web Developer </h2>
     <ul>
       {% for post in resumes %}
       <li>{{post.descripcion}}</li>
       {% endfor %}
     </ul>
  </section>
  <section id="education">
    <h1 class="main-titulo">Education</h1>
     <ul>
       <li> 2014 - present:  <a href="#">Software Engineering</a>, ITSON </li>
       {% for post in educations %}
       <li> {{post.ano}} <a href="{{post.url}}">{{post.titulo}}</a>, {{post.lugar}} </li>
       {% endfor %}
     </ul>
  </section>
</div>

{% endblock %}
