{% extends 'plantilla.html' %}

{% block title %}What i use{% endblock %}

{% block content %}
<div class="main">
  <h1 class="main-titulo">Here are some stuff I've ever used.</h1>
  <section id="hosting">
    <h2>Hosting</h2>
     <ul>
         {% for item in host %}
       <li><a href="{{item.url}}">{{item.nombre}}: </a>{{item.descripcion}}</li>
       {% endfor %}
     </ul>
  </section>
  <section id="software">
    <h2>Software</h2>
     <ul>
        {% for item in software %}
       <li><a href="{{item.url}}">{{item.nombre}}</a></li>
       {% endfor %}
     </ul>
  </section>
</div>

{% endblock %}
